.bt{
-fx-border-color: #521839;
/*-fx-background-color:  linear-gradient(from 0% 0% to 100% 100%,#ED213A 0%, #93291E 100%);*/
 -fx-background-color:   #4f0202;
-fx-background-radius: 10px;
-fx-border-radius: 10px;
 -fx-text-fill: #E8E8E6;
 -fx-cursor: hand;


}
.btlogin{
/*-fx-border-color: black;*/
-fx-background-color:linear-gradient(from 0% 0% to 100% 100%,#ED213A  0%, #93291E  100%);
/*-fx-background-radius: 10px;*/
-fx-border-radius: 10px;
-fx-text-fill: #000000;
-fx-cursor: hand;


}
.btguide{
/*-fx-border-color: black;*/
-fx-background-color:   linear-gradient(from 0% 0% to 100% 100%,#ED213A  0%, #93291E  100%);
/*-fx-background-radius: 10px;*/
/*-fx-border-radius: 10px;*/
-fx-text-fill: #000000;
-fx-cursor: hand;


}
.tt{
-fx-border-color: white;
-fx-background-color: white;
-fx-background-radius: 10px;
-fx-border-radius: 10px;
 -fx-text-fill: #000000;
 -fx-cursor: hand;


}
.btn.focussed{

}
.tcl{
        -fx-alignment: CENTER;
        -fx-background-radius: 10px;
        -fx-border-radius: 10px;
         -fx-text-fill: #000000;


}
.table.table-cell{
       -fx-border-color: transparent;
       -fx-padding: 2 0 2 10px;
   }
   .table-row-cell: hover {
       -fx-background-color: #93f9b911;
       -fx-text-background-color: red;
   }
   .table-row-cell: odd{
       -fx-background-color: #93f9b911;
       -fx-background-insets: 0, 0 0 1 0;
       -fx-padding: 0.0em;
   }
   .table-row-cell: even{
       -fx-background-color: #1dbbdd11;
       -fx-background-insets: 0, 0 0 1 0;
       -fx-padding: 0.0em;
   }
.vi{

-fx-background-color: transparent;
-fx-border-color: gray;
-fx-border-style: solid;
-fx-border-radius: 4,4,4,4;
-fx-background-radius: 5;
-fx-font-size: 18;
-fx-font-weight: "BOLD";
-fx-font-family: "Bell MT";
-fx-text-fill: #ffffff;

}